In [2]:
import pandas as pd

In [3]:
df_bio = pd.read_pickle('../data_raw/df_bio.pkl')
df_condition = pd.read_pickle('../data_raw/df_condition.pkl')
df_dedup_deterministic = pd.read_pickle('../data_raw/df_dedup_deterministic.pkl')
df_dedup_proba = pd.read_pickle('../data_raw/df_dedup_proba.pkl')
df_note = pd.read_pickle('../data_raw/df_note.pkl')
df_person = pd.read_pickle('../data_raw/df_person.pkl')
df_visit = pd.read_pickle('../data_raw/df_visit.pkl')

In [4]:
df_condition.info()
df_person.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2152 entries, 0 to 2151
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   visit_occurrence_id      2152 non-null   float64
 1   person_id                2152 non-null   float64
 2   condition_occurrence_id  2152 non-null   float64
 3   condition_source_value   2152 non-null   object
dtypes: float64(3), object(1)
memory usage: 67.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1547 entries, 0 to 1546
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   birth_datetime       1547 non-null   datetime64[ns]
 1   death_datetime       830 non-null    datetime64[ns]
 2   gender_source_value  1547 non-null   object
 3   cdm_source           1547 non-null   object
 4   person_id            1547 non-null   float64
dtypes: datetime64[ns](2), float64(1), object(2)
memory usage: 60.6+ KB

In [7]:
df_condition.head(10)

,visit_occurrence_id,person_id,condition_occurrence_id,condition_source_value
0,85319808.0,84829170.0,87142885.0,T51
1,80902406.0,85929376.0,89378651.0,Z720
2,84295593.0,86868894.0,85796828.0,C504
3,84975826.0,85566948.0,81895083.0,F023
4,83844409.0,89203324.0,87313829.0,Z803
5,81670860.0,89537429.0,86035687.0,C503
6,80881507.0,85793827.0,85116464.0,E12
7,82073343.0,86557312.0,86547520.0,C19
8,83907750.0,83215252.0,82495921.0,C501
9,84249672.0,85378199.0,83705230.0,C504

In [16]:
df_condition.condition_source_value.value_counts()
len(df_condition.person_id.unique())
df_condition.condition_source_value.unique()

array([np.str_('T51'), np.str_('Z720'), np.str_('C504'), np.str_('F023'),
       np.str_('Z803'), np.str_('C503'), np.str_('E12'), np.str_('C19'),
       np.str_('C501'), np.str_('G20'), np.str_('C502'), np.str_('I13'),
       np.str_('C50'), np.str_('C34'), np.str_('C500'), np.str_('Z587'),
       np.str_('Z864'), np.str_('I12'), np.str_('I15'), np.str_('E10'),
       np.str_('Z716'), np.str_('E11'), np.str_('F10'), np.str_('K70')],
      dtype=object)

In [9]:
df_condition.condition_source_value.isna().sum()

np.int64(0)

In [ ]:
def code_maladie(code_ice):
    data = {
        "T51": "Effet toxique de l'alcool",
        "Z720": "Usage du tabac",
        "C504": "Tumeur maligne du quadrant supéro-externe du sein",
        "F023": "Démence dans la maladie de Parkinson",
        "Z803": "Antécédents familiaux de tumeur maligne du sein",
        "C503": "Tumeur maligne du quadrant inféro-interne du sein",
        "E12": "Diabète sucré lié à la malnutrition",
        "C19": "Tumeur maligne de la jonction rectosigmoïdienne",
        "C501": "Tumeur maligne de la partie centrale du sein",
        "G20": "Maladie de Parkinson",
        "C502": "Tumeur maligne du quadrant supéro-interne du sein",
        "I13": "Maladie cardiaque hypertensive avec maladie rénale",
        "C50": "Tumeur maligne du sein",
        "C34": "Tumeur maligne des bronches et du poumon",
        "C500": "Tumeur maligne du mamelon et de l'aréole",
        "Z587": "Exposition à la pollution atmosphérique",
        "Z864": "Antécédents personnels de maladie mentale et comportementale",
        "I12": "Hypertension avec atteinte rénale",
        "I15": "Hypertension secondaire",
        "E10": "Diabète sucré de type 1",
        "Z716": "Conseil et surveillance pour d'autres problèmes de santé",
        "E11": "Diabète sucré de type 2",
        "F10": "Troubles mentaux et comportementaux liés à l'utilisation d'alcool",
        "K70": "Maladie alcoolique du foie"
    }
    return data.get(code_ice)