In [1]:
import pandas as pd

In [2]:
df_bio = pd.read_pickle('../data_raw/df_bio.pkl')
df_condition = pd.read_pickle('../data_raw/df_condition.pkl')
df_dedup_deterministic = pd.read_pickle('../data_raw/df_dedup_deterministic.pkl')
df_dedup_proba = pd.read_pickle('../data_raw/df_dedup_proba.pkl')
df_note = pd.read_pickle('../data_raw/df_note.pkl')
df_person = pd.read_pickle('../data_raw/df_person.pkl')
df_visit = pd.read_pickle('../data_raw/df_visit.pkl')

In [16]:
#df_condition.info()
df_person.info()
# df_note.info()
# df_visit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1547 entries, 0 to 1546
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   birth_datetime       1547 non-null   datetime64[ns]
 1   death_datetime       830 non-null    datetime64[ns]
 2   gender_source_value  1547 non-null   object
 3   cdm_source           1547 non-null   object
 4   person_id            1547 non-null   float64
dtypes: datetime64[ns](2), float64(1), object(2)
memory usage: 60.6+ KB

In [15]:
# print("condition")
# print(df_condition.head(10))
# print("visit")
# print(df_visit.head(10))
# print("note")
# print(df_note.head(10))
# print("dedup deterministic")
# print(df_dedup_deterministic.head(10))
print("bio")
print(df_bio.head(10))
# print("dedup proba")
# print(df_dedup_proba.head(10))
print(df_bio.concept_source_value.unique())
print(df_bio.transformed_value.unique())
print(df_bio.transformed_unit.unique())
print(len(df_bio.query('concept_source_value == "bmi"')))
print(len(df_bio))

bio
   measurement_id  visit_occurrence_id measurement_datetime  \
0      85402828.0           87578820.0           2022-05-06
1      89452956.0           82594821.0           2024-10-23
2      88918901.0           87469572.0           2020-02-23
3      86302942.0           88399883.0           2020-02-28
4      86607398.0           86752406.0           2025-08-28
5      80282939.0           81789981.0           2021-09-29
6      89175337.0           84635554.0           2020-12-08
7      89390817.0           86355363.0           2022-03-11
8      80094011.0           84186634.0           2020-06-20
9      89840627.0           81131365.0           2019-12-15

  concept_source_value  transformed_value transformed_unit
0                  crp               4.53             mg/L
1                   hb              14.18             g/dL
2                   hb              12.31             g/dL
3                   hb              12.04             g/dL
4                  crp               3.86             mg/L
5                  bmi              25.29         kg.cm^-2
6                   hb              12.95             g/dL
7                  crp               4.09             mg/L
8                   hb              11.97             g/dL
9                   hb              10.19             g/dL
['crp' 'hb' 'bmi' 'urea']
[ 4.53 14.18 12.31 ... 20.59 20.6  25.1 ]
['mg/L' 'g/dL' 'kg.cm^-2' 'mmol/L']
1547
6188

In [3]:
df_condition.condition_source_value.value_counts()
len(df_condition.person_id.unique())
df_condition.condition_source_value.unique()

array([np.str_('T51'), np.str_('Z720'), np.str_('C504'), np.str_('F023'),
       np.str_('Z803'), np.str_('C503'), np.str_('E12'), np.str_('C19'),
       np.str_('C501'), np.str_('G20'), np.str_('C502'), np.str_('I13'),
       np.str_('C50'), np.str_('C34'), np.str_('C500'), np.str_('Z587'),
       np.str_('Z864'), np.str_('I12'), np.str_('I15'), np.str_('E10'),
       np.str_('Z716'), np.str_('E11'), np.str_('F10'), np.str_('K70')],
      dtype=object)

In [4]:
df_condition.condition_source_value.isna().sum()

np.int64(0)

In [ ]:
def code_maladie(code_ice):
    data = {
        "T51": "Effet toxique de l'alcool",
        "Z720": "Usage du tabac",
        "C504": "Tumeur maligne du quadrant supéro-externe du sein",
        "F023": "Démence dans la maladie de Parkinson",
        "Z803": "Antécédents familiaux de tumeur maligne du sein",
        "C503": "Tumeur maligne du quadrant inféro-interne du sein",
        "E12": "Diabète sucré lié à la malnutrition",
        "C19": "Tumeur maligne de la jonction rectosigmoïdienne",
        "C501": "Tumeur maligne de la partie centrale du sein",
        "G20": "Maladie de Parkinson",
        "C502": "Tumeur maligne du quadrant supéro-interne du sein",
        "I13": "Maladie cardiaque hypertensive avec maladie rénale",
        "C50": "Tumeur maligne du sein",
        "C34": "Tumeur maligne des bronches et du poumon",
        "C500": "Tumeur maligne du mamelon et de l'aréole",
        "Z587": "Exposition à la pollution atmosphérique",
        "Z864": "Antécédents personnels de maladie mentale et comportementale",
        "I12": "Hypertension avec atteinte rénale",
        "I15": "Hypertension secondaire",
        "E10": "Diabète sucré de type 1",
        "Z716": "Conseil et surveillance pour d'autres problèmes de santé",
        "E11": "Diabète sucré de type 2",
        "F10": "Troubles mentaux et comportementaux liés à l'utilisation d'alcool",
        "K70": "Maladie alcoolique du foie",
        "Y424": "contraceptif oraux"
    }
    return data.get(code_ice)

In [6]:
df_bio_c = pd.read_pickle('../data_clean/df_bio.pkl')
df_condition_c = pd.read_pickle('../data_clean/df_condition.pkl')
# df_dedup_deterministic_c = pd.read_pickle('../data_clean/df_dedup_deterministic.pkl')
# df_dedup_proba_c = pd.read_pickle('../data_clean/df_dedup_proba.pkl')
df_note_c = pd.read_pickle('../data_clean/df_note.pkl')
df_person_c = pd.read_pickle('../data_clean/df_person.pkl')
df_visit_c = pd.read_pickle('../data_clean/df_visit.pkl')

In [44]:
print(df_condition_c.sample(10))
#print(len(df_condition_c))
print(df_condition_c[df_condition_c['person_id'] == 87612663.0])

      visit_occurrence_id  condition_occurrence_id condition_source_value  \
1315           88399883.0               82460895.0                    C19
396            82102881.0               89669456.0                    I13
1301           80106135.0               86211907.0                    I13
65             87881445.0               83125028.0                   Z803
727            88036859.0               81167342.0                    C34
914            84622465.0               81082495.0                   Z803
652            88303020.0               85347493.0                    I13
1197           84821080.0               88167563.0                   F023
1191           86439883.0               86706067.0                   C500
951            83543542.0               89898622.0                    I13

       person_id
1315  81270052.0
396   82389917.0
1301  87549218.0
65    81404825.0
727   84804600.0
914   82108021.0
652   87926403.0
1197  82526576.0
1191  86676429.0
951   82940784.0
     visit_occurrence_id  condition_occurrence_id condition_source_value  \
10            88867299.0               84467642.0                   C503
641           82707395.0               82732512.0                   C500

      person_id
10   87612663.0
641  87612663.0

In [7]:
data5 = df_condition_c.condition_source_value.value_counts()
print("ont le cancer (sans enlever les doublons): ", data5.loc["C50"] + data5.loc["C500"] + data5.loc["C501"]+ data5.loc["C502"]+ data5.loc["C503"]+ data5.loc["C504"])

ont le cancer (sans enlever les doublons):  497

In [8]:
def a_le_cancer_sein(person_id, df_condition):
    cancer_sein_codes = {"C50", "C500", "C501", "C502", "C503", "C504"}
    patient_conditions = df_condition[df_condition['person_id'] == person_id]
    return any(str(code) in cancer_sein_codes for code in patient_conditions['condition_source_value'])

In [46]:
print(a_le_cancer_sein(87672060.0,df_condition_c))
print(a_le_cancer_sein(83124716.0,df_condition_c))
print(a_le_cancer_sein(82389917.0,df_condition_c))
print(a_le_cancer_sein(84804600.0,df_condition_c))
print(a_le_cancer_sein(82526576.0,df_condition_c))

True
False
False
False
False

In [9]:
def fume(person_id, df_condition):
    fume_codes = {"Z720"}
    patient_conditions = df_condition[df_condition['person_id'] == person_id]
    return any(str(code) in fume_codes for code in patient_conditions['condition_source_value'])

In [31]:
df_note = pd.read_pickle('../data_clean/df_note.pkl')

In [53]:
print(df_note.note_text.sample(1).squeeze())

Compte rendu de consultation

Patient : [Nom du patient]
Âge : [Âge du patient]
Sexe : [Sexe du patient]
Numéro de dossier : [Numéro de dossier du patient]

Motif de la consultation:
Des ressources ont été fournies à la patiente pour obtenir des informations sur les groupes de soutien en ligne et les forums de discussion où elle peut partager ses expériences et recevoir des conseils de personnes dans des situations similaires.

Antecedents familiaux :
La patiente a également déclaré qu'elle n'avait pas d'antécédents familiaux de cancer du sein du côté paternel.

Histoire de la maladie:
L'oncologue a procédé à un examen physique détaillé, en se concentrant sur l'évaluation de la taille de la tumeur et de son emplacement.

Examen du patient:
Les dossiers médicaux de la patiente ne révèlent aucun traitement ou suivi lié au tabagisme, ce qui confirme qu'elle ne fume pas.

Plan de traitement:
Dans le cadre de son plan de traitement, la patiente sera encouragée à prendre des mesures de prévention du lymphœdème, telles que l'évitement des traumatismes et des infections, ainsi que l'utilisation de techniques spécifiques de drainage lymphatique.

Signature du médecin :
[Nom du médecin]
[Titre/Spécialité]
[Hôpital/Service]

In [34]:
print(df_note)
# print(df_note.note_text.sample(1).squeeze())

      visit_occurrence_id note_datetime     note_id  \
1              84162050.0    2022-12-02  87336601.0
2              88991591.0    2020-10-20  80825304.0
3              87431501.0    2020-03-29  82508858.0
5              89635128.0    2022-08-08  89621840.0
6              82524306.0    2025-10-01  89057796.0
...                   ...           ...         ...
1534           80341509.0    2022-12-12  81610706.0
1536           80324215.0    2022-01-16  82404094.0
1538           87531882.0    2020-01-17  83928134.0
1539           89114025.0    2022-08-02  87245842.0
1541           89900814.0    2025-07-25  82965351.0

                                              note_text
1     Compte rendu de consultation\n\nPatient : [Nom...
2     Compte rendu de consultation\n\nPatient : [Nom...
3     Compte rendu de consultation\n\nPatient : [Nom...
5     Compte rendu de consultation\n\nPatient : [Nom...
6     Compte rendu de consultation\n\nPatient : [Nom...
...                                                 ...
1534  Compte rendu de consultation\n\nPatient : [Nom...
1536  Compte rendu de consultation\n\nPatient : [Nom...
1538  Compte rendu de consultation\n\nPatient : [Nom...
1539  Compte rendu de consultation\n\nPatient : [Nom...
1541  Compte rendu de consultation\n\nPatient : [Nom...

[958 rows x 4 columns]

In [59]:
df_person_c
df_person_c["Alcool_vérité"] = 0
df_person_c

,birth_datetime,death_datetime,gender_source_value,person_id,prob,Tabac_vérité,Alcool_vérité
0,1961-07-09,2022-02-20,female,80006137.0,NaN,0,0
1,1951-12-31,2024-07-28,female,80021799.0,NaN,0,0
2,1959-11-16,NaT,female,80034258.0,NaN,0,0
3,1975-01-23,NaT,female,89552692.0,1.0,0,0
4,1951-10-29,NaT,female,80071532.0,NaN,0,0
...,...,...,...,...,...,...,...
989,1980-09-14,NaT,female,89940001.0,NaN,0,0
990,1991-11-27,2023-10-26,female,89945408.0,NaN,0,0
991,1947-08-12,2024-06-17,female,89958389.0,NaN,0,0
992,1947-04-05,NaT,female,89978554.0,NaN,0,0
993,1966-09-03,2021-02-06,female,89990725.0,NaN,0,0