In [33]:
import pandas as pd

In [35]:
df_bio = pd.read_pickle('../data_raw/df_bio.pkl')
df_condition = pd.read_pickle('../data_raw/df_condition.pkl')
df_dedup_deterministic = pd.read_pickle('../data_raw/df_dedup_deterministic.pkl')
df_dedup_proba = pd.read_pickle('../data_raw/df_dedup_proba.pkl')
df_note = pd.read_pickle('../data_raw/df_note.pkl')
df_person = pd.read_pickle('../data_raw/df_person.pkl')
df_visit = pd.read_pickle('../data_raw/df_visit.pkl')

In [38]:
df_person.cdm_source.unique()

array([np.str_('EHR 1')], dtype=object)

In [ ]:
df_condition.info()
print(len(df_condition.person_id.unique()))

df_condition.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2152 entries, 0 to 2151
Data columns (total 4 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   visit_occurrence_id      2152 non-null   float64
 1   person_id                2152 non-null   float64
 2   condition_occurrence_id  2152 non-null   float64
 3   condition_source_value   2152 non-null   object
dtypes: float64(3), object(1)
memory usage: 67.4+ KB
1547

,visit_occurrence_id,person_id,condition_occurrence_id,condition_source_value
0,85319808.0,84829170.0,87142885.0,T51
1,80902406.0,85929376.0,89378651.0,Z720
2,84295593.0,86868894.0,85796828.0,C504
3,84975826.0,85566948.0,81895083.0,F023
4,83844409.0,89203324.0,87313829.0,Z803

In [ ]:
print(len(df_person.person_id.unique()))
df_person.info()

1547
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1547 entries, 0 to 1546
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   birth_datetime       1547 non-null   datetime64[ns]
 1   death_datetime       830 non-null    datetime64[ns]
 2   gender_source_value  1547 non-null   object
 3   cdm_source           1547 non-null   object
 4   person_id            1547 non-null   float64
dtypes: datetime64[ns](2), float64(1), object(2)
memory usage: 60.6+ KB

In [ ]:
df_visit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1547 entries, 0 to 1546
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   visit_occurrence_id   1547 non-null   float64
 1   care_site_id          1547 non-null   object
 2   visit_start_datetime  1547 non-null   datetime64[ns]
 3   visit_end_datetime    1546 non-null   datetime64[ns]
 4   visit_source_value    1547 non-null   object
 5   person_id             1547 non-null   float64
dtypes: datetime64[ns](2), float64(2), object(2)
memory usage: 72.6+ KB

In [ ]:
df_note.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1547 entries, 0 to 1546
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   visit_occurrence_id  1547 non-null   float64
 1   note_datetime        1547 non-null   datetime64[ns]
 2   note_id              1547 non-null   float64
 3   cdm_source           1547 non-null   object
 4   note_text            1547 non-null   object
dtypes: datetime64[ns](1), float64(2), object(2)
memory usage: 60.6+ KB

In [ ]:
df_bio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6188 entries, 0 to 6187
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   measurement_id        6188 non-null   float64
 1   visit_occurrence_id   6188 non-null   float64
 2   measurement_datetime  6188 non-null   datetime64[ns]
 3   concept_source_value  6188 non-null   object
 4   transformed_value     6188 non-null   float64
 5   transformed_unit      6188 non-null   object
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 290.2+ KB